version: '3.9'

networks:
  proxy:
    external: true

configs:
  timezone:
    external: true
  localtime:
    external: true

volumes:
  data: {}

services:
  {{ .ServiceName }}:
    image: {{ .ImageName }}
    networks:
      - proxy
    configs:
      - source: timezone
        target: /etc/timezone
      - source: localtime
        target: /etc/localtime
    volumes:
      - data:/data
    environment:
      TZ: Asia/Shanghai
      {{- with .Env }}
        {{- "\n" }}
        {{- toYaml . | indent 6 }}
      {{- end }}
    deploy:
      replicas: 1
      labels:
        - traefik.enable=true
        - traefik.http.routers.{{ .ServiceName }}.entrypoints=web, websecure
        - traefik.http.routers.{{ .ServiceName }}.rule=Host(`{{ .ServiceHost }}`)
        - traefik.http.routers.{{ .ServiceName }}.tls=true
        - traefik.http.routers.{{ .ServiceName }}.tls.certresolver=ali
        - traefik.http.routers.{{ .ServiceName }}.tls.domains[0].main={{ .ServiceHost }}
        - traefik.http.services.{{ .ServiceName }}.loadbalancer.server.port={{ .ServicePort }}
  {{ .ServiceName }}_xxl_job:
    image: {{ .ImageName }}
    networks:
      - proxy
    configs:
      - source: timezone
        target: /etc/timezone
      - source: localtime
        target: /etc/localtime
    environment:
      TZ: Asia/Shanghai
      {{ toYaml .Env | indent 6 }}
    command: java -jar /app/xxl-job.jar
    deploy:
      replicas: 1
      labels:
        - traefik.enable=true
        - traefik.http.routers.{{ .ServiceName }}_xxl_job.entrypoints=web, websecure
        - traefik.http.routers.{{ .ServiceName }}_xxl_job.rule=Host(`{{ .XxlJobServiceHost }}`)
        - traefik.http.routers.{{ .ServiceName }}_xxl_job.tls=true
        - traefik.http.routers.{{ .ServiceName }}_xxl_job.tls.certresolver=ali
        - traefik.http.routers.{{ .ServiceName }}_xxl_job.tls.domains[0].main={{ .XxlJobServiceHost }}
        - traefik.http.services.{{ .ServiceName }}_xxl_job.loadbalancer.server.port={{ .XxlJobServicePort }}
